

<div class="header">
  

  <div class="portfolio-selection">
    <mat-form-field appearance="fill" style="width: 350px;">
      <mat-label>Portfolio</mat-label>
      <mat-select [value]="selectedPortfolio" (selectionChange)="portfolioChange($event)">
        <mat-option *ngFor="let portfolio of portfolios$ | async" [value]="portfolio">
          {{portfolio}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    <!-- <mat-form-field appearance="fill" style="width: 350px;">
      <mat-label>Earthquake</mat-label>
      <mat-select (valueChange)="earthQuakeChange($event)">
        <mat-option [value]="1" >Zone 1</mat-option>
        <mat-option [value]="2">Zone 2</mat-option>
        <mat-option [value]="3">Zone 3</mat-option>
        <mat-option [value]="4">Zone 4</mat-option>
      </mat-select>
    </mat-form-field> -->

    <button mat-raised-button color="primary" (click)="showClick()" >Show</button>
  </div>

  <mat-card>
    <div class="analysis-container">
      
      <div>Location count:</div>
      <div>{{locationCount$ | async | number}}</div>

      <div>TSI:</div>
      <div>{{tsiSum$ | async | number}}</div>

      <div>Losses:</div>
      <div>{{lossesSum$ | async | number}}</div>

      <div>Cluster request duration:</div>
      <div>{{clusterDuration$ | async | duration}}</div>

      <div>Analysis request duration:</div>
      <div>{{analyzeDuration$ | async | duration}}</div>
    </div>
  </mat-card>

  <div class="old-actions">
    <button (click)="addImageLayer()">Image</button>
    <button (click)="addDiagramm()">Diagramm</button>
  </div>

  

  <div class="output">
    <div>Position: Long {{long}} Lat {{lat}}</div>
  </div>

  

</div>

<div class="map-container">
  <div class="map-frame">
    <div id="map"></div>
  </div>
</div>

<div class="result-container">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Hazards</mat-panel-title>
    </mat-expansion-panel-header>

    <canvas #earthquake></canvas>
    <canvas #hail></canvas>
    <canvas #tornado></canvas>
    <canvas #heat></canvas>

  </mat-expansion-panel>
</div>
<div class="country-container">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Countries</mat-panel-title>
    </mat-expansion-panel-header>

    <div class="country-sub-container">
      <mat-checkbox 
              *ngFor="let c of countires$ | async" 
              (change)="countryClick($event, c)"
              [checked]="c.checked"
              >{{c.country}} - {{c.data.pcount | number}}
      </mat-checkbox>
    </div>

  </mat-expansion-panel>
</div>

<div class="building-container">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Buildings</mat-panel-title>
    </mat-expansion-panel-header>

    <div class="building-sub-container">
      <mat-checkbox *ngFor="let c of buildings$ | async"
              (change)="buildingClick($event, c)"
              [checked]="c.checked">{{c.name}} - {{c.data.pcount}}</mat-checkbox>
    </div>
    
  </mat-expansion-panel>
</div>

<div class="graph-container">

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Model {{modelDuration | duration}}</mat-panel-title>
    </mat-expansion-panel-header>

  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
    
    <div class="mat-tree-node">
      <div style="border-bottom: 1px solid white; margin-bottom: 10px;">
        <div style="font-weight: 600;display: block;">{{node.name}}</div>
        <div>Layer data: TSI: {{node.TSI_Local | number}} Losses {{node.Losses_Local | number}} Count {{node.Count_Local | number}}</div>
        <div>Inclusive children: {{node.TSI | number}} Losses {{node.Losses | number}} Count {{node.Count | number}}</div>
      </div>
      
    </div>
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild"> 
    <div>
      <div class="mat-tree-node">
        <button mat-icon-button matTreeNodeToggle
                [attr.aria-label]="'Toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        <div style="border-bottom: 1px solid white; margin-bottom: 10px;">
          <div style="font-weight: 600;display: block;">{{node.name}}</div>
          <div>Layer data: TSI: {{node.TSI_Local | number}} Losses {{node.Losses_Local | number}} Count {{node.Count_Local | number}}</div>
          <div>Inclusive children: {{node.TSI | number}} Losses {{node.Losses | number}} Count {{node.Count | number}}</div>
        </div>
      </div>
      <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
        <ng-container matTreeNodeOutlet></ng-container>
      </ul>
    </div>
  </mat-nested-tree-node>
  </mat-tree>
</mat-expansion-panel>
</div>

<div class="advanced-analytics">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>Advanced analytics</mat-panel-title>
    </mat-expansion-panel-header>

    <div *ngIf="advancedata$ | async">
      <app-advance-item *ngFor="let item of advancedata$ | async" [item]=item></app-advance-item>
    </div>

  </mat-expansion-panel>

  

</div>