.map-container {
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 30px;
  margin-bottom: 5px;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}

#map {
  height: 100%;
}

.result-container {
  position: absolute;
  width: 400px;
  z-index: 100000;
  right: 5px;
  top: 185px;
}

.country-container,
.building-container {
  position: absolute;
  width: 350px;
  z-index: 100000;
  right: 410px;
  top: 185px;

  .country-sub-container {
    display: grid;
    grid-template-columns: auto auto;
    max-height: 700px;
    overflow: auto;
  }
}

.building-container {
  right: 765px;

  .building-sub-container {
    display: grid;
    grid-template-columns: auto;
  }
}
